body {
    background-image: url('/IMG_2153.jpeg');
    background-size: cover;
}
h1 {
            margin-top: 150px;
            text-align: center;
            font-size: 60px;
            color: #ffff00;
            text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px yellow,
                0 0 30px yellow,
                0 0 40px yellow,
                0 0 55px yellow,
                0 0 70px yellow;
}
