body {
    background-image: url('/IMG_2153.jpeg');
    background-size: cover;
    margin: 30px;
}
h1 {
    color: white;
    text-shadow: 0 0 5px #fff,
        0 0 10px #ff3f3f,
        0 0 20px #ff3f3f,
        0 0 30px #ff3f3f;
}
h3 {
    color: red;
}
p {
    color: blue;
}
p2 {
    color: #1eff6c;
}
p3 {
    color: yellow;
}
p4 {
    color: purple;
}
p5 {
    color: red;
}
p6 {
    color: orange;
}
a {
    color: #1eff6c;
}
