body {
    background-image: url('/IMG_2153.jpeg');
    background-size: cover;
    margin: 30px;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px yellow,
        0 0 30px yellow,
        0 0 40px yellow,
        0 0 55px yellow,
        0 0 70px yellow;
}
h2 {
    color: white;
    text-shadow: 0 0 5px #fff,
        0 0 10px #1eff6c,
        0 0 20px #1eff6c,
        0 0 30px #1eff6c,
}
h3 {
    color: cyan;
}
p {
    color: red;
}
p2 {
    color: orange;
}
p3 {
    color: yellow;
}
p4 {
    color: #1eff6c;
}
p5 {
    color: blue;
}
p6 {
    color: purple;
}
a {
    color: yellow;
}
